{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}


    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
        <p class="font-bold">Error!</p>
        <p class="block sm:inline">{{ error }}</p>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row w-100 h-auto mb-20 mt-5">
            <div class="col-md-6 mt-5">
                <h1 class="font-extrabold">Phi <span style="color: tomato;">book</span></h1>
                <h4>Phibook helps you connect and share with the people in your life.</h4>
            </div>
            <div class="col-md-5 ms-5 mb-5 pb-2 login-form">
                <h2 class="text-uppercase mt-5 font-weight-bold text-black">Login Account</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn-login" style="background: tomato;">Login</button>
                    <a href="{% url 'register' %}" class="btn-create m-5">Create New Account</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}
